/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-sentinel Nextflow config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// Pipeline metadata
manifest {
    name            = 'nf-sentinel'
    author          = 'Aymen Maqsood'
    homePage        = 'https://github.com/mulbagalamaq/nf-sentinel'
    description     = 'RNA-seq quantification pipeline with FAIR metadata capture'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.0'
    version         = '0.1.0-dev'
}

// Default parameters — overridden per profile
params {
    input   = null
    outdir  = 'results'
}
